/* Med Screen */
@media screen and (max-width: 810px){
    .container{
        max-width: 760px;
    }
    .med-flex-100{
        flex: 0 1 100%;
    }
    .med-flex-48{
        flex: 0 1 48%;
    }
    .nav{
        display: none;
    }
    .navbar{
        #toggle:checked ~ .nav{
            display: inline-block;
        }
        .bars{
            position: relative;
            z-index: 99;
            display: inline-block;
            right: 32px;
            top: 0.4rem;
            color: white;
            font-size: 20px;
        }
        .nav{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
            z-index: 4;
            padding: 10rem;
            text-align: center;
            li{
                margin-bottom: 3.5rem;
            }
            a{
                font-size: 2.2rem;
            }
        }
        .brand{
            position: relative;
            top: 0.4rem;
            z-index: 99;
        }
    }
    /* Form */
    .contact-form{
        max-width: 600px;
    }

    /* Home */
    .home-map{
        iframe{
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 12px;
    }
    .container{
        max-width: 720px;
    }
    /* pricing-768 */
    .pricing-table{
        th{
            padding: 1rem 2rem;
        }
    }
    /* Form */
    .contact-form{
        max-width: 500px;
    }
}

/* sm Screen */
@media screen and (max-width: 576px) {
    .container{
        max-width: 520px;
        padding: 0 10px;
    }
    .sm-flex-100{
        flex: 0 1 100%;
    }

    /* about */
    .choose-solution-expertise{
        .solution{
            margin: 3rem 0;
        }
    }
    /* pricing-768 */
    .pricing-table{
        th{
            padding: 1rem;
        }
    }
    /* Form */
    .contact-form{
        max-width: 430px;
    }
    footer{
        font-size: 16px;
    }

    /* Home */
    .home-map{
        iframe{
            max-width: 460px;
        }
    }

}

@media screen and (max-width: 450px){
    /* Form */
    .contact-form{
        max-width: 350px;
    }
    /* Home */
    .home-map{
        iframe{
            max-width: 370px;
        }
    }
}

