$primary : #dc3b45 ;
$secondary : #eb5f61 ;
$heading : #212221 ;
$text-dark : #333333 ;
$text-light : #888f96 ;
$footer-bg : #f1e4de;
$bg : #f2f2f2 ;
$saffron : rgb(239, 157, 6);
$dark-green : rgb(239, 157, 6) ;